
{%- for block in section.blocks -%}
   {%- for product in collections[block.settings.collection].products -%}
        <div class="col-md-12 bd-r">
           <div class="row">
              <div class="col-xs-5 col-sm-12 pr-0">
                 <div class="seller-img">
                    <a href="{{ product.url | within: collection }}">
                   <img style="object-fit: contain;" src="{{ product.featured_image.src | img_url: "large" }}" alt="{{ product.featured_image.alt | escape }}"> 
                   </a>
                 </div>
              </div>
              <div class="col-xs-7 col-sm-12 pr-0">
                 <div class="p-area">
                   <a href="{{ product.url | within: collection }}">
                     <h4 class="text-left bld best-seller-prod">{{ product.title }}</h4>
                   </a>
            		<div class="yotpo bottomLine newp-line" data-product-id="{{ product.id }}"> </div> 
                    <div class="clear"></div>
                     <div class="prod-desc carousal show-read-more">{{product.description}}</div>
                </div>
                <style>
                .col-xs-7.col-sm-12.pr-0 a.text-m {
                 width: 22px;
                  height: unset;
                  padding: unset;
                  margin: unset;
                  overflow: unset;
                  clip: unset;
                  border: unset;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: clip;
                  background: white;
                  word-spacing: 50px;
                 }
                </style>      
                   <ul class="star-bxw">
                 <li><div class="yotpo bottomLine new-pos" data-product-id="{{ product.id }}"> </div> </li>  
                <li><div class="prc"><b>{{product.price | money | remove:" "}}</b></div></li>
                </ul>
                 <div class="row">
                   <form method="post" action="{{routes.cart_add_url}}">
                    <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
                     <div class="col-xs-12">
                       <input type="submit" value="{{ section.settings.btn-title }}" class="input-button" /></div>
                   </form>     
                   </div>
              </div>
           </div>
        </div>
{%- endfor -%}
{%- endfor -%}
 