<div class="bought-area best-seller-sect">
   <div class="container-fluid">
      <h2>Best Sellers</h2> 
      <div class="bt-slider">
        {%- for block in section.blocks -%}
         {%- for product in collections[block.settings.collection].products -%}
         <div>
            <div class="bt-s">
               <img src="{{ product.featured_image.src | img_url: "large" }}" alt="{{ product.featured_image.alt | escape }}">
              <a href="{{ product.url | within: collection }}" > 
              <h5>{{ product.title }}</h5>
              </a>
               <div class="pr">{{ product.price | money }}</div>
               <ul class="star-list">
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
               </ul>
               <span>(213)</span>
                <a href="{{ product.url | within: collection }}" class="add-btn mt-2">{{ section.settings.btn-title }}</a>
             </div>
         </div>
        {% else %}
            The collection is empty!
         {%- endfor -%}
         {%- endfor -%} 
      </div>
   </div>
</div>
{% schema %}
{
   "name": "Best Seller Collection",
   "settings": [
      
      {
      "type": "text",
      "id": "btn-title",
      "default": "ADD TO CART",
      "label": "Button Title"
      },
      {
      "type": "color",
      "id": "color_bg--buyBtn",
      "label": "Button Color on Hover",
      "default": "#CBD5CC"
      }
   ],
   "blocks": [
      {
         "type": "collection",
         "name": "Collection",
         "limit": 1,
         "settings": [
            {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
            }

         ]
      }
   ],
   "presets": [
      {
      "name": "Best Seller Collection",
      "category": "Product Dynamic Section"
      }
   ]
}
{% endschema %}
